<detalle-empleado
  *ngIf="empleadoSeleccionado"
  [empleado]="empleadoSeleccionado"
></detalle-empleado>

<div class="card border-primary mb-3">
  <div class="card-header">Empleados</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">
      Listado de empleados <i class="bi bi-person"></i>
    </h5>

    <div class="form-group row mb-2">
      <div class="col-sm-2 my-3 text-left">
        <button
          class="btn btn-rounded btn-success"
          type="button"
          [routerLink]="['/empleados/formulario-empleados']"
        >
          Crear empleado <i class="bi bi-database-fill-add"></i>
        </button>
      </div>
      <searchBox
        (onDebouce)="busquedaPorNombre($event)"
        placeholder="Busqueda de empleado"
      >
      </searchBox>
    </div>
    <div *ngIf="empleadoBusquedas.length === 0 else tablaEmpleadoBusq"></div>

    <ng-template #tablaEmpleadoBusq>
      <div class="row">
        <div class="col">
          <hr />
          <H5>Tabla de busqueda</H5>
          <table>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre(s)</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Detalle <i class="bi bi-person-lines-fill"></i></th>
                  <th>Eliminar <i class="bi bi-database-fill-dash"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empleadoBusqueda of empleadoBusquedas">
                  <td>{{ empleadoBusqueda.id }}</td>
                  <td>
                    {{ empleadoBusqueda.nombreDelEmpleado }}
                  </td>
                  <td>{{ empleadoBusqueda.apellido_P }}</td>
                  <td>{{ empleadoBusqueda.apellido_M }}</td>
                  <td>
                    <button
                      type="button"
                      name="button_detalle_empleado"
                      (click)="abrirModal(empleadoBusqueda)"
                      class="btn btn-primary"
                    >
                      Detalle <i class="bi bi-person-vcard"></i>
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      name="button_eliminar_empleado"
                      (click)="deleteBusqueda(empleadoBusqueda)"
                      class="btn btn-danger"
                    >
                      Eliminar <i class="bi bi-person-dash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </table>
          <hr />
        </div>
      </div>
    </ng-template>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre(s)</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Detalle <i class="bi bi-person-lines-fill"></i></th>
          <th>Eliminar <i class="bi bi-database-fill-dash"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombreDelEmpleado }}</td>
          <td>{{ empleado.apellido_P }}</td>
          <td>{{ empleado.apellido_M }}</td>
          <td>
            <button
              type="button"
              name="button_detalle_empleado"
              (click)="abrirModal(empleado)"
              class="btn btn-primary"
            >
              Detalle <i class="bi bi-person-vcard"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              name="button_eliminar_empleado"
              (click)="delete(empleado)"
              class="btn btn-danger"
            >
              Eliminar <i class="bi bi-person-dash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
