<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KEMLI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-1">
        <li class="nav-item ">
          <a class="nav-link cardflex" routerLink="clientes">Clientes <i class="bi bi-people-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cardflex" routerLink="empleados">Empleados <i class="bi bi-person-badge"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cardflex" routerLink="citas">Citas <i class="bi bi-calendar-plus-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cardflex" routerLink="reportes">Reporte <i class="bi bi-journal-bookmark"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
