<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header ">{{titulo}} <i class="bi bi-person"></i></div>
    <div class="card-body">

      <form #citaForm ="ngForm">

        <div class="form-group row mb-3">
          <label for="empleado" class="col-form-label col-sm-2">Nombre del empleado <i class="bi bi-briefcase"></i></label>
            <div class="col-sm-6">
              <select [compareWith]="compararEmpleado" class="form-control" [(ngModel)]="cita.empleado" name="id_empleado"  style="width: 500xp;">
                <option *ngFor="let empleado of empleados" [ngValue]="empleado"> {{empleado.id}}.- {{empleado.nombreDelEmpleado}} {{empleado.apellido_P}} {{empleado.apellido_M}} ( {{empleado.tipoDeEmpleado.tipoEmpleado}} )</option>
              </select>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="cliente" class="col-form-label col-sm-2">Nombre del cliente <i class="bi bi-person-circle"></i></label>
            <div class="col-sm-6">
              <select [compareWith]="compararCliente" class="form-control" [(ngModel)]="cita.cliente" name="id_cliente"  style="width: 500xp;">
                <option *ngFor="let cliente of clientes" [ngValue]="cliente"> {{cliente.id}}.- {{cliente.nombreDelCliente}} {{cliente.apellido_P}} {{cliente.apellido_M}} </option>
              </select>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="tipoDeActividad" class="col-form-label col-sm-2">Tipo de actividad </label>
            <div class="col-sm-6">
              <select [compareWith]="compararTipoActividad" class="form-control" [(ngModel)]="cita.tipoDeActividad" name="tipo_actividad"  style="width: 500xp;">
                <option *ngFor="let tipoDeActividad of tipoActividad" [ngValue]="tipoDeActividad"> {{tipoDeActividad.id}}.- {{tipoDeActividad.tipoActividad}} </option>
              </select>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="fecha_cita" class="col-form-label col-sm-2">Fecha cita <i class="bi bi-calendar3"></i></label>
            <div class="col-sm-6">
              <input type="date" class="form-control" [(ngModel)]="cita.fecha_cita" name="fecha_cita" #fecha_cita = "ngModel" required min="{{ fechaActual() | date: 'yyyy-MM-dd' }}"> <!-- required -->
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="hora_cita" class="col-form-label col-sm-2">Hora cita <i class="bi bi-alarm"></i></label>
            <div class="col-sm-6">
              <input type="time"  class="form-control" [(ngModel)]="cita.hora_cita" name="cita_hora" #hora_de_la_cita="ngModel"  > <!-- required min="{{ horaActual() | date: 'HH:mm' }}" -->
              <div class="alert alert-danger" *ngIf="hora_de_la_cita.invalid && (hora_de_la_cita.dirty || hora_de_la_cita.touched)">
                <div *ngIf="hora_de_la_cita.errors.required">
                  Se requiere la direccion
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="direccion" class="col-form-label col-sm-2">Dirección</label>
            <div class="col-sm-6">
              <input type="text" placeholder="Ingresar dirección donde se requiere el servicio" class="form-control" [(ngModel)]="cita.direccion" name="direccion" #direccion_cliente = "ngModel"> <!-- required -->
              <div class="alert alert-danger" *ngIf="direccion_cliente.invalid && (direccion_cliente.dirty || direccion_cliente.touched)">
                <div *ngIf="direccion_cliente.errors.required">
                  Se requiere la dirección
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
            <div class="col-sm-6">
              <input type="text" placeholder="Ingresar descripción del lugar" class="form-control" [(ngModel)]="cita.descripcion" name="descripcion" #descripcion_cliente = "ngModel"> <!-- required -->
              <div class="alert alert-danger" *ngIf="descripcion_cliente.invalid && (descripcion_cliente.dirty || descripcion_cliente.touched)">
                <div *ngIf="descripcion_cliente.errors.required">
                  Se requiere la descripción del hogar o edificio
                </div>
              </div>
            </div>
        </div>


        <div class="form-group row mb-2">
          <div class="col-sm-1">
            <button class="btn btn-primary" role="button" (click)="create()"*ngIf="!cita.id else elseBlock" [disabled]="!citaForm.form.valid">Crear <i class="bi bi-plus-circle"></i></button>
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!citaForm.form.valid">Editar <i class="bi bi-plus-circle"></i></button>
            </ng-template>
          </div>
          <div class="col-sm-3">
              <button  class="btn btn-danger" role="button" routerLink="/citas">Cancelar <i class="bi bi-x-circle"></i> </button>
          </div>
        </div>
    </form>
  </div>
</div>
