<detalle-empleado *ngIf="empleadoSeleccionado" [empleado]="empleadoSeleccionado"></detalle-empleado>

<div class="card border-primary mb-3">
  <div class="card-header">Empleados </div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de empleados <i class="bi bi-person"></i></h5>


    <div class=" form-group row mb-2">
      <div class=" col-sm-2 my-3 text-left">
        <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/empleados/formulario-empleados']">Crear empleado <i class="bi bi-database-fill-add"></i></button>
      </div>
    </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre(s)</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Detalle <i class="bi bi-person-lines-fill"></i></th>
            <th>Eliminar <i class="bi bi-database-fill-dash"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{empleado.id}}</td>
            <td>{{empleado.primer_nombre}} {{empleado.segundo_nombre}}</td>
            <td>{{empleado.apellido_P}}</td>
            <td>{{empleado.apellido_M}}</td>
            <td>
              <button type="button" name="button_detalle_empleado" (click)="abrirModal(empleado)" class="btn btn-primary">Detalle <i class="bi bi-person-vcard"></i></button>
            </td>
            <td>
              <button type="button" name="button_eliminar_empleado" (click)="delete(empleado)" class="btn btn-danger btn-sm">Eliminar <i class="bi bi-person-dash-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
