<div *ngIf="modalService.modal" class="modal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h1 class="modal-title fs-5"> {{titulo}} </h1>
       <!-- <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  -->
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-8 ">
              <ul *ngIf="cliente" class="list-group mb-2 ">
                <li class="list-group-item active"> {{cliente.primer_nombre}} {{cliente.segundo_nombre}}</li>
                <li class="list-group-item"> {{cliente.apellido_P}} </li>
                <li class="list-group-item"> {{cliente.apellido_M}} </li>
                <li class="list-group-item"> {{cliente.fecha_naci}} </li>
                <li class="list-group-item"> {{cliente.domicilio}} </li>
                <li class="list-group-item"> {{cliente.correo}} </li>
                <li class="list-group-item"> {{cliente.telefono}} </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" name="button_editar_cliente" [routerLink]="['/clientes/formulario', cliente.id]" class="btn btn-primary " data-bs-dismiss="modal">Editar <i class="bi bi-database-fill-gear"></i></button>
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar <i class="bi bi-x-circle"></i></button>
      </div>
    </div>
  </div>
</div>
