<detalle-cita *ngIf="citaSeleccionado" [cita] = citaSeleccionado> </detalle-cita>

<div class="card border-primary mb-3">
  <div class="card-header">Citas</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de citas</h5>


    <div class=" form-group row mb-2">
      <div class=" col-sm-2 my-3 text-left">
        <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/citas/formulario-citas']">Crear Cita <i class="bi bi-database-fill-add"></i></button>
      </div>
    </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID CITA</th>
            <th>ID CLIENTE</th>
            <th>ID EMPLEADO</th>
            <th>Detalle de la cita <i class="bi bi-person-lines-fill"></i></th>
            <th>Eliminar <i class="bi bi-database-fill-dash"></i> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas">
            <td>{{cita.id}}</td>
            <td>{{cita.cliente.id}} </td>
            <td>{{cita.empleado.id}} </td>
            <td>
              <button type="button" name="button_detalle_cita" (click)="abrirModal(cita)" class=" btn btn-primary">Detalle <i class="bi-person-vcard"></i></button>
            </td>
            <td>
              <button type="button" name="button_eliminar_cita" (click)="delete(cita)" class="btn btn-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
