<div *ngIf="modalClienteService.modal" class="modal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h1 class="modal-title fs-5"> {{titulo}} <i class="bi bi-person"></i> </h1>
      <!-- <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  -->
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <ul *ngIf="cliente">
                <li class="list-group-item">Nombre del cliente</li>
                <li class="list-group-item"> {{cliente.primer_nombre}} {{cliente.segundo_nombre}}</li>
              </ul>
              <ul >
                <li class ="list-group-item"> Apellido paterno</li>
                <li class="list-group-item"> {{cliente.apellido_P}} </li>
              </ul>
              <ul>
                <li class="list-group-item"> Apellido paterno</li>
                <li class="list-group-item"> {{cliente.apellido_M}} </li>
              </ul>
              <ul>
                <li class="list-group-item"> Fecha de nacimiento <i class="bi bi-balloon"></i></li>
                <li class="list-group-item"> {{cliente.fecha_naci |date:"EEEE dd, MMMM yyyy"}} </li>
              </ul>
              <ul>
                <li class="list-group-item">Dirección <i class="bi bi-geo-alt"></i></li>
                <li class="list-group-item"> {{cliente.domicilio}} </li>
              </ul>
              <ul>
                <li class="list-group-item">Email <i class="bi bi-envelope-at-fill"></i></li>
                <li class="list-group-item"> {{cliente.correo}} </li>
              </ul>
              <ul>
                <li class="list-group-item">Numero de telefono <i class="bi bi-telephone"></i></li>
                <li class="list-group-item"> {{cliente.telefono}} </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" name="button_editar_cliente" [routerLink]="['/clientes/formulario', cliente.id]" class="btn btn-primary " data-bs-dismiss="modal">Editar <i class="bi bi-database-fill-gear"></i></button>
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar <i class="bi bi-x-circle"></i></button>
      </div>
    </div>
  </div>
</div>
