<datalle-cliente *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"> </datalle-cliente>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class=" form-group row mb-2">
      <div class=" col-sm-2 my-3 text-left">
        <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/clientes/formulario']">Crear cliente <i class="bi bi-database-fill-add"></i></button>
      </div>
    </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre(s)</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Detalle <i class="bi bi-person-lines-fill"></i></th>
            <th>Eliminar <i class="bi bi-database-fill-dash"></i> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.primer_nombre}} {{cliente.segundo_nombre}}</td>
            <td>{{cliente.apellido_P}}</td>
            <td>{{cliente.apellido_M}}</td>
            <td>
              <i type="button" name="button_detalle_cliente" (click)="abrirModal(cliente)" class="bi bi-person-vcard btn btn-primary"></i>
            </td>
            <td>
              <button type="button" name="button_eliminar_cliente" (click)="delete(cliente)" class="btn btn-danger  btn-sm">Eliminar <i class="bi bi-person-dash-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
