<detalle-cliente *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"> </detalle-cliente>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de clientes <i class="bi bi-person"></i></h5>

    <div class=" form-group row mb-2">
      <div class=" col-sm-2 my-3 text-left">
        <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/clientes/formulario']">Crear cliente <i class="bi bi-database-fill-add"></i></button>
      </div>

        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Nombre del cliente" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </div>


      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre(s)</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Detalle <i class="bi bi-person-lines-fill"></i></th>
            <th>Eliminar <i class="bi bi-database-fill-dash"></i> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.primer_nombre}} {{cliente.segundo_nombre}}</td>
            <td>{{cliente.apellido_P}}</td>
            <td>{{cliente.apellido_M}}</td>
            <td>
              <button type="button" name="button_detalle_cliente" (click)="abrirModal(cliente)" class="brn btn btn-primary">Detalle <i class="bi bi-person-vcard"></i></button>
            </td>
            <td>
              <button type="button" name="button_eliminar_cliente" (click)="delete(cliente)" class="btn btn-danger">Eliminar <i class="bi bi-person-dash-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
