<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header ">{{titulo}} <i class="bi bi-person"></i></div>
    <div class="card-body">

      <form #clienteForm ="ngForm">
        <div class="form-group row mb-3">
          <label for="primer_nombre" class="col-form-label col-sm-2 ">Primer nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)] ="cliente.primer_nombre" name="primer_nombre"  #primer_nombre="ngModel"> <!-- required minlength="3" -->
            <div class="alert alert-danger" *ngIf="primer_nombre.invalid && (primer_nombre.dirty || primer_nombre.touched)">
              <div *ngIf="primer_nombre.errors.required">
                Nombre requerido
              </div>
              <div *ngIf="primer_nombre.errors.minlength">
                El nombre debe de tener 3 caracteres
              </div>
            </div>
          </div>
        </div>

          <div class="form-group row mb-3">
            <label for="segundo_nombre" class="col-form-label col-sm-2 ">Segundo nombre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)] ="cliente.segundo_nombre" name="segundo_nombre">
            </div>
          </div>

        <div class="form-group row mb-3">
          <label for="apellido_P" class="col-form-label col-sm-2">Apellido Paterno</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.apellido_P" name="apellido_P" #apellido_paterno = "ngModel"> <!-- required -->
              <div class="alert alert-danger" *ngIf="apellido_paterno.invalid && (apellido_paterno.dirty || apellido_paterno.touched)">
                <div *ngIf="apellido_paterno.errors.required">
                  Apellido paterno requerido
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="apellido_M" class="col-form-label col-sm-2">Apellido Materno</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.apellido_M" name="apellido_M"  #apellido_materno = "ngModel"> <!-- required -->
              <div class="alert alert-danger" *ngIf="apellido_materno.invalid && (apellido_materno.dirty || apellido_materno.touched)">
                <div *ngIf="apellido_materno.errors.required">
                  Apellido materno requerido
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="fecha_naci" class="col-form-label col-sm-2">Fecha de nacimiento <i class="bi bi-balloon"></i></label>
            <div class="col-sm-6">
              <input type="date" class="form-control" [(ngModel)]="cliente.fecha_naci" name="fecha_naci" #fecha_nacimiento = "ngModel"> <!-- required -->
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="domicilio" class="col-form-label col-sm-2">Domicilio <i class="bi bi-geo-alt"></i></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.domicilio" name="domicilio" #domicilio ="ngModel"> <!-- required -->
              <div class="alert alert-danger" *ngIf="domicilio.invalid && (domicilio.dirty || domicilio.touched)">
                <div *ngIf="domicilio.errors.required">
                  domicilio requerido
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="correo" class="col-form-label col-sm-2">Correo electronico <i class="bi bi-envelope-at-fill"></i></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.correo" name="correo" #email="ngModel"> <!-- required email-->
              <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                  Email requerido
                </div>
                <div *ngIf="email.errors.email">
                  No es un formato de email
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="telefono" class="col-form-label col-sm-2">Número de telefono <i class="bi bi-telephone-plus-fill"></i></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" #telefono ="ngModel"> <!-- required -->
              <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                <div *ngIf="telefono.errors.required">
                  Telefono requerido
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-sm-1">
            <button class="btn btn-primary" role="button" (click)="create()"*ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear <i class="bi bi-plus-circle"></i></button>
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Editar <i class="bi bi-plus-circle"></i></button>
            </ng-template>
          </div>
          <div class="col-sm-3">
              <button  class="btn btn-danger" role="button" routerLink="/clientes">Cancelar <i class="bi bi-x-circle"></i> </button>
          </div>
        </div>
    </form>
  </div>
</div>
